:root {
  --main-bg-color: brown;
}
*{
    margin: 0px;
    padding: 0px;
}
#main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main-h1{
    font-weight: 600;
}
#search{
    width: 40vw;
    border-radius: 10px;
    height: 40px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
}
#movie-box{
    width: 90vw;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.box{
    height: 40vh;
    width: 30vw;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
img{
    height: 40vh;
    border-radius: 10px;
    width: 30vw;
    transform: scale(1);
    transition: all 0.1s ease;
    object-fit:cover;
}
.overlay{
    position: absolute;
    opacity: 0;
    transform: translateY(100px);
    /* transition: property duration timing-function; */
    transition: all 0.8s ease;
    bottom: 0px;
    padding: 12px;
    /* background-color: var(--main-bg-color); */
    background: rgba(0, 0.6, 0.6, 0.6);
    color: white;
}
.box:hover .overlay{
    opacity: 1;
    transform: translateY(0);
}
.box:hover img{
     transform: scale(1.08);
}